<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8">
    <title>Algoritmos</title>
  </head>
  <body>
    <main>
      <h1><%= titulo %></h1>
      
    </main>
    <a href ="/contador">contador</a><br>
    <a href ="/fibonacci">fibonacci</a><br>
    <a href ="/mdc">mdc</a><br>
    <a href ="/primo">primo</a><br>
    <a href ="/quicksort">quicksort</a><br>
    <a href ="/somatorio">somatorio</a>
  </body>
</html>
