<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8">
    
  </head>
  <body>
    <main>
      <h1><%= titulo %></h1>
      
    </main>
    <a href ="/contador">contador</a><br>
    <a href ="/fibonacci">fibonacci</a>
  </body>
</html>
