<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8">
    
  </head>
  <body>
    <main>
      <h1><%= titulo %></h1>
      
    </main>
    <form method="POST" action="/contador">
      <imput name="a" type="text" />
      <imput name="b" type="text" />
      <button type="submit">Enviar</button>
    
    </form>

  </body>
</html>
